.post {
    background-color: aliceblue;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
}
.card{
    background-color: aliceblue; 
}

.comment {
    background-color: #cbcbcb;
    padding: 25px;
    margin: 25px;
    min-height: 50px;
    border-radius: 25px;
}
.create {
    background-color: #4D8C9E;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
}
.img-thumbnail{
    max-width: 500px;
    max-height: 500px;
}
i{
    color: rgb(245, 245, 245);
}
#picture{
    max-width: 900px;
    max-height: 900px;
}
#Pic{
    background-color: aliceblue;
    padding: 40px;
    margin: 50px;
    border-radius: 25px;
}