.post {
    background-color: aliceblue;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
}
.card{
    background-color: aliceblue; 
}
.comment {
    background-color: #cbcbcb;
    padding: 25px;
    margin: 25px;
    min-height: 50px;
    border-radius: 25px;
}
.create {
    background-color: #4D8C9E;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
}
.img-thumbnail{
    max-width: 500px;
    max-height: 500px;
}