<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Wall</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">    
        <script src="{% static 'js/script.js' %}"></script> 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $('#style2').hide();

                $('#change_style').click(function(){
                    $('#style2').toggle();
                    $('#style1').toggle();
                    if ($(this).text()=='Style 2'){
                        $(this).text('Style 1');
                    }
                    else{
                        $(this).text('Style 2');
                    }
                })

                
            })
        </script>
    </head>
    <body>
        <nav id="card1" class="navbar navbar-expand-lg navbar-light bg-secondary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <i class='fa fa-camera fa-2x'></i> 
                <a id="Title" class="navbar-brand text-light">PictureBook</a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/profile/{{request.session.user_id}}">Welcome, {{request.session.user_name}}!</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/logout">Log Out</a>
                    </li>
                </ul>
                
            </div>
        </nav>
        <style>
            #profile_pic{
                max-width: 40px;
                max-height:40px;
                margin: 0 auto;
                border-radius: 50%;
            }
        </style>
        <div class="container">
            <div class="row justify-content-center">
                <div class="create">
                    <h1>Post a picture</h1>
                    <form action="/create_post" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Picture</label>
                            <input type="file" class="form-control-file" id="pic" value="" name="pic">
                            
                        </div>
                        <div>
                            <label for="">Description</label>
                            <textarea name="desc" cols="100" rows="2"></textarea>
                        </div>
                        <br>
                        <button class="btn-primary">Post</button>
                    </form>
                </div>
                
                <div class="col-md-9">
                    <button id="change_style" class="btn-info">Style 2</button>
                    <div id="style1" class="row">
                        {% for post in posts reversed %}
                        <div class="flex-col col-md-4">
                            <div class="card my-2">
                                        <a class="nav-link" href="/profile/{{post.poster.id}}"><img id="profile_pic" alt="missing image" src="{{post.poster.profile_pic.url}}">{{post.poster.first_name}}-</a>
                                        <p>{{post.desc}}</p>
                                        <br>
                                        
                                        <img class="img-thumbnail" alt="missing image" src="{{post.picture.url}}" >
                                        
                                            {% for comment in post.post_comments.all %}
                                        <div class="comment">
                                            <p>{{comment.poster.first_name}}-
                                                {{comment.comment}}</p>
                                            <div class="row">
                                                <a class="nav-link" href="/like_com/{{comment.id}}">{{comment.likes.count}} Like</a>
                                                {% if comment.poster.id == request.session.user_id %}
                                                <a class="nav-link" href="/delete_com/{{comment.id}}">Delete</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                            {% endfor %}
                                        
                                        <div>
                                            <p>Post a comment</p>
                                            <form action="/create_comment/{{post.id}}" method="post">
                                                {% csrf_token %}
                                                <input class="d-flex p-2" name="comment" cols="30" rows="1"></input>
                                                <br>
                                                <button class="btn-primary">Post a comment</button>
                                            </form>
                                            <div class="row">
                                            <a class="nav-link" href="/like/{{post.id}}">{{post.likes.count}} Like</a>
                                            {% if post.poster.id == request.session.user_id %}
                                            <a class="nav-link" href="/edit_post/{{post.id}}">Edit</a>
                                            <a class="nav-link" href="/delete/{{post.id}}">Delete</a>
                                            {% endif %}
                                            </div>
                                        </div> 
                            </div>
                        </div>
                        {% empty %}
                        <h3>No photos...</h3>
                        {% endfor %}
                    </div>
                </div>

                <div id="style2">
                    {% for post in posts reversed %}
                    <div class="post">
                        <a class="nav-link" href="/profile/{{post.poster.id}}"><img id="profile_pic" alt="missing image" src="{{post.poster.profile_pic}}">{{post.poster.first_name}}-</a>
                        {{post.desc}}
                        <br>
                        
                        <img class="img-thumbnail" alt="missing image" src="{{post.picture}}" >
                        
                            {% for comment in post.post_comments.all %}
                        <div class="comment">
                            {{comment.poster.first_name}}-
                            {{comment.comment}}
                            <div class="row">
                                <a class="nav-link" href="/like_com/{{comment.id}}">{{comment.likes.count}} Like</a>
                                {% if comment.poster.id == request.session.user_id %}
                                <a class="nav-link" href="/delete_com/{{comment.id}}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                            {% endfor %}
                        
                        <div>
                            Post a comment
                            <form action="/create_comment/{{post.id}}" method="post">
                                {% csrf_token %}
                                <textarea name="comment" cols="50" rows="2"></textarea>
                                <br>
                                <button class="btn-primary">Post a comment</button>
                            </form>
                            <div class="row">
                            <a class="nav-link" href="/like/{{post.id}}">{{post.likes.count}} Like</a>
                            {% if post.poster.id == request.session.user_id %}
                            <a class="nav-link" href="/edit_post/{{post.id}}">Edit</a>
                            <a class="nav-link" href="/delete/{{post.id}}">Delete</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>