<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">    
        <script src="{% static 'js/script.js' %}"></script>  
    </head>
    <body>
        <nav id="card1" class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <i class="fas fa-utensils fa-3x"></i>  
                <a id="Title" class="navbar-brand">PictureBook</a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile/{{request.session.user_id}}">Welcome, {{request.session.user_name}}!</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul> 
            </div>
        </nav>
        <div class="container">
            
                <style>
                    .profile-pic{
                        max-width: 200px;
                        max-height:200px;
                        margin: 0 auto;
                        border-radius: 50%;
                    }
                    .card{
                        background-color: #A5CCE8;
                    }
                    h3{
                        color: #4a4d4a;
                    }
                </style>
                
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <a class="btn btn-warning" href="/wall"> &#8592; Back to Home</a>
                            <hr>
                            <h3 style="text-align: center">User Profile</h3>
                            <hr>
                            <img class="profile-pic" alt="missing image" src="{{user.profile_pic.url}}" >
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-body" style="text-align: left;">
                            <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
                            <h3>Email: {{user.email}}</h3>
                            <h3>Phone: {{user.phone}}</h3>
                            <h3>Current City: {{user.city}}</h3>
                        </div>
                        {% if user.id == request.session.user_id %}
                        <a href="/profile/edit/{{user.id}}" class="ml-2">Edit</a>
                        {% endif %}
                    </div>
                </div>
                <div>
                    {% for post in posts reversed %}
                    <div class="post col-md-6">
                        <a class="nav-link" href="/profile/{{post.poster.id}}">{{post.poster.first_name}}-</a>
                        {{post.desc}}
                        <br>
                        
                        <img class="img-thumbnail" alt="missing image" src="{{post.picture.url}}" >
                        
                            {% for comment in post.post_comments.all %}
                        <div class="comment">
                            {{comment.poster.first_name}}-
                            {{comment.comment}}
                            <div class="row">
                                <a class="nav-link" href="/like_com/{{comment.id}}">{{comment.likes.count}} Like</a>
                                {% if comment.poster.id == request.session.user_id %}
                                <a class="nav-link" href="/delete_com/{{comment.id}}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                            {% endfor %}
                        
                        <div>
                            Post a comment
                            <form action="/create_comment/{{post.id}}" method="post">
                                {% csrf_token %}
                                <textarea name="comment" cols="50" rows="2"></textarea>
                                <br>
                                <button class="btn-primary">Post a comment</button>
                            </form>
                            <div class="row">
                            <a class="nav-link" href="/like/{{post.id}}">{{post.likes.count}} Like</a>
                            {% if user.id == request.session.user_id %}
                            <a class="nav-link" href="/edit_post/{{post.id}}">Edit</a>
                            <a class="nav-link" href="/delete/{{post.id}}">Delete</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>